Repository thangyt01/omega_client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext ts --ext tsx --fix, eslint, stylelint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "eslint --ext ts --ext tsx --fix",
    "eslint",
    "stylelint --fix"
  ],
  "*.{css,scss}": ["stylelint --fix"],
  "*.{json,yaml}": ["prettier --write"]
}

Refactor CI workflows and remove Playwright and Storybook tests
  .github/workflows/ci.yml
  .github/workflows/playwright.yml
  .github/workflows/storybook-tests.yml
Due: none

Refactor CI workflows and update Node.js version in ci.yml
  .github/workflows/ci.yml
Due: none

Refactor AppFrame.sp.tsx to remove unused import
  src/components/frames/AppFrame.sp.tsx
Due: eslint --ext ts --ext tsx --fix, eslint, stylelint --fix

Refactor AppFrame.sp.tsx to remove unused import
  .github/workflows/ci.yml
  stories/molecules/SelectLanguage.stories.tsx
Due: eslint --ext ts --ext tsx --fix, eslint, stylelint --fix

Refactor CI workflows and remove Playwright and Storybook tests
  .github/workflows/ci.yml
  .storybook/main.ts
Due: eslint --ext ts --ext tsx --fix, eslint, stylelint --fix

Refactor CI workflows and remove Playwright and Storybook tests
  .github/workflows/ci.yml
  .storybook/main.ts
  src/app/[locale]/unauthorized/page.tsx
Due: eslint --ext ts --ext tsx --fix, eslint, stylelint --fix

Add fibonacy function to calculate Fibonacci sequence in fibo.js
  fibo.js
Due: eslint --ext ts --ext tsx --fix, eslint, stylelint --fix

Refactor language selection in Navbar and SelectLanguage components
  locales/vi.json
  src/app/[locale]/layout.tsx
  src/components/molecules/Navbar.tsx
  src/components/molecules/SelectLanguage.tsx
Due: eslint --ext ts --ext tsx --fix, eslint, stylelint --fix, prettier --write

refactor
  .vscode/settings.json
  locales/en.json
  locales/vi.json
  src/components/atoms/AppLogo.tsx
  src/components/atoms/TempLogo.tsx
  src/components/molecules/Navbar.tsx
  src/components/molecules/SelectLanguage.tsx
  src/components/organisms/404.tsx
  src/components/organisms/500.tsx
  src/components/organisms/Footer.pc.tsx
  src/libs/use-template.ts
  tsconfig.json
Due: eslint --ext ts --ext tsx --fix, eslint, stylelint --fix, prettier --write

Refactor CI workflows and cache yarn cache directory
  .github/workflows/ci.yml
Due: none

Add Vercel Preview Deployment workflow
  .github/workflows/preview.yaml
Due: prettier --write

test vercel preview
  test.txt
Due: none

fix: resolve conversation
  src/components/atoms/AppLogo.tsx
  src/components/molecules/FooterNavigation.tsx
  src/components/molecules/FooterSocial.tsx
  src/components/organisms/Footer.pc.tsx
  src/components/organisms/Footer.sp.tsx
Due: eslint --ext ts --ext tsx --fix, eslint, stylelint --fix

Add Chromatic Preview Storybook workflow
  .github/workflows/chromatic.yml
  .github/workflows/ci.yml
  .gitignore
  chromatic.config.json
  package.json
Due: prettier --write

Update Chromatic workflow to include publishing summary
  .github/workflows/chromatic.yml
Due: none

Update error messages in 404 and 500 components
  locales/en.json
  src/__tests__/unitTests/organisms/500.test.tsx
Due: eslint --ext ts --ext tsx --fix, eslint, stylelint --fix, prettier --write

Update Chromatic workflow to remove publishing summary
  .github/workflows/chromatic.yml
Due: none

fix: i18n
  src/components/molecules/FooterNavigation.tsx
Due: eslint --ext ts --ext tsx --fix, eslint, stylelint --fix

Add Jest coverage comment to CI workflow
  .github/workflows/ci.yml
  jest.config.ts
  package.json
Due: eslint --ext ts --ext tsx --fix, eslint, stylelint --fix, prettier --write

feat
  global.d.ts
  locales/vi.json
  package.json
  src/actions/auth/index.ts
  src/app/[locale]/(app)/[...rest]/page.tsx
  src/app/[locale]/(app)/layout.tsx
  src/app/[locale]/(app)/not-found.tsx
  src/app/[locale]/(app)/page.tsx
  src/app/[locale]/(app)/server-error/page.tsx
  src/app/[locale]/(auth)/layout.tsx
  src/app/[locale]/(auth)/register/page.tsx
  src/components/atoms/Card.tsx
  src/components/atoms/CardBody.tsx
  src/components/atoms/CardFooter.tsx
  src/components/atoms/CardHeader.tsx
  src/components/atoms/Checkbox.tsx
  src/components/atoms/Input.tsx
  src/components/atoms/Modal.tsx
  src/components/atoms/SubmitButton.tsx
  src/components/molecules/FooterNavigation.tsx
  src/hooks/useAppForm.ts
  src/types.ts
  yarn.lock
Due: eslint --ext ts --ext tsx --fix, eslint, stylelint --fix, prettier --write

fix: resolve warning from codiumai
  package.json
  src/app/[locale]/(auth)/register/page.tsx
  src/components/molecules/FooterNavigation.tsx
  yarn.lock
Due: eslint --ext ts --ext tsx --fix, eslint, stylelint --fix, prettier --write

Add new files and update existing files
  public/assets/images/facebook.svg
  public/assets/images/github.svg
  public/assets/images/google.svg
  src/@types/server.ts
  src/__tests__/unitTests/atoms/Breadcrumbs.test.tsx
  src/app/[locale]/(auth)/(center)/layout.tsx
  src/app/[locale]/(auth)/(center)/sign-in/[[...sign-in]]/page.tsx
  src/app/[locale]/(public)/layout.tsx
  src/app/[locale]/(public)/page.tsx
  src/app/[locale]/(public)/server-error/page.tsx
  src/app/[locale]/layout.tsx
  src/app/[locale]/not-found.tsx
  src/app/global-error.tsx
  src/client-context.ts
  src/components/atoms/Breadcrumbs.tsx
  src/components/atoms/Checkbox.tsx
  src/components/atoms/Divider.tsx
  src/components/atoms/Input.tsx
  src/components/atoms/Select.tsx
  src/components/atoms/SelectItem.tsx
  src/components/atoms/TempLogo.tsx
  src/components/frames/AppFrame.tsx
  src/components/frames/AuthFrame.pc.tsx
  src/components/frames/AuthFrame.sp.tsx
  src/components/frames/AuthFrame.tsx
  src/components/molecules/ButtonLinkClient.tsx
  src/components/molecules/FooterNavigation.tsx
  src/components/molecules/FooterSocial.tsx
  src/components/molecules/InputPassword.tsx
  src/components/molecules/Navbar.tsx
  src/components/molecules/SelectLanguage.tsx
  src/components/organisms/SigninForm.tsx
  src/components/templates/Signin.tsx
  src/libs/use-template.ts
  src/middleware.ts
  src/utils/assignClientContext.ts
  stories/atoms/Breadcrumbs.stories.tsx
Due: eslint --ext ts --ext tsx --fix, eslint, stylelint --fix

chore: Export getBaseUrl function in AppConfig module
  .vscode/settings.json
  src/__tests__/unitTests/atoms/Accordion.test.tsx
  src/components/atoms/Accordion.tsx
  src/configs/AppConfig.test.ts
  src/configs/AppConfig.ts
  src/hooks/useClientMediaQuery.test.ts
  src/utils/assignClientContext.test.ts
Due: eslint --ext ts --ext tsx --fix, eslint, stylelint --fix, prettier --write

feat: Add unit tests for AvatarGroup and Checkbox components
  src/__tests__/unitTests/atoms/AvatarGroup.test.tsx
  src/__tests__/unitTests/atoms/Checkbox.test.tsx
  src/components/atoms/AccordionItem.tsx
  src/components/atoms/AvatarGroup.tsx
  src/components/atoms/Checkbox.tsx
  stories/atoms/Checkbox.stories.tsx
Due: eslint --ext ts --ext tsx --fix, eslint, stylelint --fix

feat: Add unit tests for Divider component
  src/__tests__/unitTests/atoms/Divider.test.tsx
  src/components/atoms/Divider.tsx
  stories/atoms/Divider.stories.tsx
Due: eslint --ext ts --ext tsx --fix, eslint, stylelint --fix
